*{
    box-sizing: border-box;
}

body{
    background-color: rgb(243, 243, 243);
}

.top{
    height: 80px;
    width: 100vw;
    background-color: white;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    box-shadow: 0 4px 6px rgb(200, 200, 200);
}

.image-top{
    width: 75px;
    height: 53px;
}

.people-icon{
    width: 45px;
    height: 45px;
}

.messages{
    margin: 100px 0;
    
    display: flex;
    flex-direction: column;

    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

strong{
    font-weight: 700;
}

li{
    padding: 13px 0;
}

.status{
    background-color: rgb(220, 220, 220);
}

.bottom{
    width: 100vw;
    height: 80px;
    background-color: white;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;

    box-shadow: 0 -3px 6px rgb(200, 200, 200);
}

.input-message{
    border: none;

    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.paper-plane-icon{
    width: 26px;
    height: 26px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}